/* Styles personnalisés pour PacoMathQuiz */

/* Changement de la couleur de fond du corps */
body {
    background-color: #f0f8ff; /* Bleu clair agréable */
    font-size: 16px; /* Taille de police par défaut */
    line-height: 1.6; /* Meilleure lisibilité */
}

/* Personnalisation de la barre de navigation */
.navbar {
    background-color: #4CAF50; /* Vert vibrant pour une ambiance mathématique */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff !important; /* Texte blanc pour le contraste */
    font-size: 1.25rem; /* Taille de police augmentée */
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #d4edda !important; /* Légère variation au survol */
}

/* Styles pour les titres */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Pacifico', cursive; /* Police ludique pour les titres */
    color: #4CAF50; /* Vert pour correspondre à la navbar */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

/* Styles pour le contenu du texte */
body, p, li, a, .btn {
    font-family: 'Roboto Condensed', sans-serif;
    color: #333333;
    font-size: 1rem; /* Taille de police augmentée */
}

/* Boutons personnalisés */
.btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
    padding: 0.5rem 1rem; /* Augmenter la taille des boutons */
    font-size: 1rem;
}

.btn-primary:hover {
    background-color: #45a049;
    border-color: #45a049;
}

.btn-orange {
    background-color: #FFA500; /* Orange vibrant */
    border-color: #FFA500;
    color: #ffffff; /* Texte blanc pour le contraste */
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.btn-orange:hover {
    background-color: #e69500; /* Orange plus foncé au survol */
    border-color: #e69500;
    color: #ffffff;
}

/* Cartes personnalisées */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-bottom: 1.5rem; /* Ajouter un espace en bas des cartes */
}

.card-header, .card-footer {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
}

/* Formulaires */
.form-control {
    border-radius: 5px;
    p
