{% extends "layout.html" %}
{% block content %}
  <h2>Compétition : {{ competition.group.name }}</h2>
  <h3>En attente de votre tour, {{ student.name }} !</h3>

  <!-- Affichage du score de l'élève connecté -->
  <h4>Votre score :</h4>
  <p id="student-score">{{ scores.get(student.id, 0) }}</p>

  <p>Patientez, la prochaine question arrive bientôt...</p>
{% endblock %}

{% block scripts %}
<script src="https://cdn.socket.io/4.5.1/socket.io.min.js" crossorigin="anonymous"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    var socket = io();

    // Rejoindre une salle spécifique pour la compétition
    socket.emit('join_competition', {'competition_id': {{ competition.id }}, 'student_id': {{ student_id }} });

    // Écouter l'événement 'competition_update'
    socket.on('competition_update', (data) => {
      console.log("Received competition_update:", data); // Pour débogage
      const activeStudentIds = data.active_student_ids;
      const competitionStarted = data.competition_started;

      if (!competitionStarted) {
        console.log("La compétition n'a pas encore commencé, on attend...");
        return;
      }

      if (activeStudentIds.length === 0) {
        window.location.href = "{{ url_for('auth.competition_results', competition_id=competition.id) }}";
        return;
      }
      if (data.competition_ended) {
        // Rediriger tous les clients (enseignant, élèves en attente, élèves éliminés)
        // vers la page des résultats.
        window.location.href = "{{ url_for('auth.competition_results', competition_id=competition.id) }}";
       return;
       }


      if (data.current_student_id == {{ student_id }}) {  // Utilisation correcte de 'student_id'
        console.log("C'est votre tour, redirection vers run_competition_auto_current");
        window.location.href = "{{ url_for('auth.run_competition_auto_current', competition_id=competition.id, student_id=student_id) }}";
      } else {
        console.log("Ce n'est pas votre tour, on continue d'attendre");
      }

      // Mettre à jour le score de l'élève connecté
      if (data.scores && data.scores['{{ student.id }}'] !== undefined) {
          const scoreElement = document.getElementById('student-score');
          scoreElement.textContent = data.scores['{{ student.id }}'];
      }
    });

    // Optionnel : Écouter les erreurs ou autres événements
    socket.on('error_message', (data) => {
      console.error(data.message);
    });
  });
</script>
{% endblock %}

